.title
  .title__header
    MY TRUTH


.contents
  .contents__user
    .contents__user__box
      = current_user.name
    .contents__user__group
      .contents__user__group__box
        = @groups.name
    .contents__form
      = form_for"#" do |f|
        = f.text_field :content, class:'user-search',placeholder: "user search"
        = f.submit '検索',class: 'submit-btn'
    .contents__post
      = link_to new_group_photo_path(current_user),class:"post-btn" do
        投稿する
        